<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ monster.name }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <h1>{{ monster.name }} Details</h1>
            <div class="monster-details">
              <img src="https://www.dnd5eapi.co/api/images/monsters/" alt="Aboleth">


          
            <p> <a href="https://www.dnd5eapi.co/api/monsters{{monster.name}}">click me</a></p>
      </div>
      <p><a href="{{ url_for('index') }}">Back to all monsters</a></p>
    </div>

    <!-- Include Chart.js from a CDN -->
    <script>

    </script>
  </body>
</html>